<% provide(:title, 'Home') %>
<div class="banner-container">
  <div class="wrapper">
    <h1 class="title">Hi!,
      <span class="responsive-break">
        I'm Rafael Malave
      </span>
    </h1>
    <h2 class="sub-title">I'm a web developer. I love to build things for
      the web.
    </h2>

</div>
<div id="banner" class="homepage-banner">
  <%= image_tag "banner.svg" %>
</div>
  </div>
<div id="page_wrapper">
  <h1> Hi! this is going to be my portfolio page coming soon!</h1>
  <h2>Stay tuned! <i class="fa fa-smile-o"></i></h2>
</div>

