<% provide(:title, "Log in") %>
<div id="content-wrapper">
  <section class="session">
    <h1>Log in</h1>
    <div class="form">
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
        <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>
    </div>
  </section>
</div>
