/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'normalize';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'variables';

.menu-icon {
  width: 1em;
  height: 30px;
  position: relative;
  float: right;
  margin-bottom: 1em;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: $grey;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon */

.menu-icon span:nth-child(1) {
  top: 0px;
}

.menu-icon span:nth-child(2),.menu-icon span:nth-child(3) {
  top: 8px;
}

.menu-icon span:nth-child(4) {
  top: 16px;
}

.menu-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


@font-face {
  font-family: 'Aileron';
  src: font-url('Aileron-Ultralight.otf') format('otf');
}

* {
  color: #8997A0;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 1em;
}

html, body {
  font-family: 'Aileron', sans-serif;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

.alert {
  padding: 20px;
  color: #FFF;
  background-color: #F28B8B;
  margin: 1.5em 1.5em 0 1.5em;
  border-radius: 0.35em;
}

.button {
  outline: none;
  background: transparent;
  border: 1px solid #D6DCE0;
  padding: .5em 1.5em;
  border-radius: 1.5em;
  &:hover {
    border: 1px solid $green;
    color: $green;
    a {
      color: $green !important;
    }
  }
}

.menu-icon {
  font-size: 2em;
  color: $grey;
  &:hover {
    cursor: pointer;
  }
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 90%;
  border: 1px solid #D6DCE0;
  margin-top: 10px;
  padding: .5em 1em;
  line-height: 1.75;
  color: #9EAFBA;
}

input[type="text"] {
  height: 35px;
}

textarea {
  min-height: 180px;
}

input[type="submit"] {
  outline: none;
  background: transparent;
  border: 1px solid #D6DCE0;
  padding: .5em 1.5em;
  font-size: 1.1em;
  margin-top: 1em;
  &:hover {
    border: 1px solid $green;
    color: $green;
  }
}

#navbar {
  position: relative;
  height: 77px;
  .logo {
    img {
      width: 2em;
      position: absolute;
      top: 1em;
      left: 3em;
    }
  }
  ul {
    list-style: none;
    text-align: right;
    padding: 1.5em 2.5em;
    margin: 0;
    background-color: white;
  }
  li:nth-child(2) {
    margin-top: 3em;
}
  li:nth-child(n+2) {
    padding: 14px .5em;
    text-align: center;
    a {
      font-size: 0.8em;
      text-transform: uppercase;
      font-weight: 200;
      color: #9EAFBA;
      border-bottom: 1px solid $grey;
      text-decoration: none;
      transition: all .4s ease;
      &:hover {
        color: $green;
      }
    }
  }
  .active {
    a {
      color: $green;
    }
  }
}

.dropdown-hide {
  display: none;
}

.menu-icon ~ .dropdown {
  display: block;
}

#banner {
  width: 100%;
  height: auto;
  text-align: center;
  background-position: 0px 0px;
}

.sub-title, .title, .responsive-break {
  animation-duration: 2s;
  animation-name: slideup;
  letter-spacing: 8px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

#page-wrapper {
  #profile_image {
    width: 300px;
    float: left;
    margin-right: 2em;
    img {
      width: 100%;
      border-radius: 100%;
    }
  }
  #content {
  }
}

footer {
  position: absolute;
  height: 77px;
  width: 100%;
  border-top: 1px solid $lgrey;
  bottom: -1;
  .logo {
    img {
      width: 40px;
      position: absolute;
      bottom: 1.5em;
      left: 3em;
    }
  }
  ul {
    list-style: none;
    text-align: right;
    padding: 1.5em 2.5em;
    margin: 0;
  }
  li {
    padding: 0 .5em;
    display: inline-block;
    a {
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: 200;
      color: #9EAFBA;
      text-decoration: none;
      transition: all .4s ease;
      &:hover {
        color: $green;
      }
    }
  }
}

@keyframes slideup {
  from {
    margin-top: 5%;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0);
  }

  to {
    margin-top: 2%;
    letter-spacing: 8px;
    color: rgba(255, 255, 255, 1);
  }
}

@keyframes dropdown {
  from {
    visibility: hidden;

  }
  to {
    visibility: visible;
  }
}
