// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

#content-wrapper {
  padding: 2em;
}

.session {
  width: 30%;
  margin: 0 auto;
  padding: 8em;
}
