<footer>
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "logo.svg" %>
    <% end %>
  </div>

  <ul>
    <a href="https://twitter.com/_rafaelmalave"><li class="fa fa-twitter"></li></a>
    <a href="https://instagram.com/rafaelmalave.me"><li class="fa fa-instagram"></li></a>
    <a href="https://github.com/rmalave"><li class="fa fa-github"></li></a>
    <a href="mailto:hey@rafaelmalave.me"><li class="fa fa-paper-plane"></li></a>
  </ul>
</footer>
